/* base.css */
* {
	background-repeat:no-repeat;
}
body {
	-webkit-touch-callout: none;
	font-size: 14px;
}
img{
	vertical-align:bottom;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}
th, td {
	vertical-align: top;
	font-weight: normal;
	text-align: left;
	margin: 0;
	padding: 0;
}
figure, figcaption {
	display: block;
}
em {
	font-style: normal;
}
body.android4{
	img,
	input[type='image']{
		// hack for android 4.0 -webkit-transform problem
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12NgYAAAAAMAASDVlMcAAAAASUVORK5CYII=);
	}
}