div.attack-effect[data-name="thunder"] {
	position:relative;
	opacity:0;
	width:124px;
	height:296px;
	>img.lightning{
		position:relative;
		left:0px;
		top:5px;
	}
	>img.flash{
		position:absolute;
		left:0px;
		top:5px;
	}
	&.invoke {
		opacity:1;
		>img.lightning{
			opacity:0;
			-webkit-transition:opacity 300ms ease-in 250ms;
		}
		>img.flash{
			opacity:0;
			-webkit-transition:opacity 300ms ease-in 250ms;
		}
	}
}