@import "cb.mix-in.less";

div.stage-effect[data-name="flash"] {
	width:100%;
	height:100%;
	img {
		content:@transparent-png;
	}
	&.invoke {
		opacity:0;
		-webkit-transition:opacity 500ms ease-in;
	}
}
div.stage-effect[data-name="concentration"] {
	width:100%;
	height:100%;
	&.invoke {
		opacity:0;
		-webkit-transition:opacity 500ms ease-in 250ms;
	}
}