/* home.less */
#home-page{
	width:320px;
	background-image:url("../img/bg/pipo-battlebg009.jpg");
	background-size:auto 100%;
	background-position:top center;
	overflow:hidden;
	.user-deck{
		width:320px;
		height:240px;
		position:relative;
		li{
			width:120px;
			height:120px;
			position:absolute;
			display:block;
			>div{
				position:relative;
				width:120px;
				height:120px;
				margin-left:-60px;
				margin-top:-60px;
				background-position:center bottom;
			}
			&.monster-1{
				left:160px;
				top:180px;
				>div{
					background-size:120px 120px;
				}
			}
			&.monster-2{
				left:100px;
				top:125px;
				>div{
					background-size:110px 110px;
				}
			}
			&.monster-3{
				left:220px;
				top:125px;
				>div{
					background-size:110px 110px;
				}
			}
			&.monster-4{
				left:60px;
				top:75px;
				>div{
					background-size:100px 100px;
				}
			}
			&.monster-5{
				left:160px;
				top:75px;
				>div{
					background-size:100px 100px;
				}
			}
			&.monster-6{
				left:260px;
				top:75px;
				>div{
					background-size:100px 100px;
				}
			}
		}
	}
	.main-menu{
		position:absolute;
		bottom:60px;
		left:0;
		width:320px;
		ul{
			text-align:center;
		}
		li{
			display:inline-block;
			margin:5px;
		}
	}
}