/* quest-region-list.less */
#quest-region-list-page{
	ol.box-list-holder{
		>li{
			position:relative;
			a{
				display:-webkit-box;
				-webkit-box-align:center;
				padding-left:120px + @base-margin;
				min-height:90px;
				> *{
					width:1000px;
					-webkit-box-flex:1;
				}
			}
			.region-thumb{
				width:120px;
				height:90px;
				background-color:#000000;
				background-size:contain;
				position:absolute;
				left:@half-margin;
				top:50%;
				margin-top:-45px;
			}
			.region-status{
			}
			.region-name{
				color:black;
				font-weight:bold;
				.fontSize(16);
				width:100%;
				margin-bottom:5px;
			}
			.region-progress{
				
			}
		}
	}
	li.region-1{
		.region-thumb{
			background-image:url("../img/bg/pipo-battlebg001.jpg");
		}
	}
	li.region-2{
		.region-thumb{
			background-image:url("../img/bg/pipo-battlebg002.jpg");
		}
	}
	li.region-3{
		.region-thumb{
			background-image:url("../img/bg/pipo-battlebg003.jpg");
		}
	}
	li.region-4{
		.region-thumb{
			background-image:url("../img/bg/pipo-battlebg004.jpg");
		}
	}
	li.region-5{
		.region-thumb{
			background-image:url("../img/bg/pipo-battlebg005.jpg");
		}
	}
	li.region-6{
		.region-thumb{
			background-image:url("../img/bg/pipo-battlebg006.jpg");
		}
	}
	li.region-7{
		.region-thumb{
			background-image:url("../img/bg/pipo-battlebg007.jpg");
		}
	}
}